/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#home {
  height: 100vh;
  border: 2px dotted black;

}

#game-container{
  border: 5px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-right: 90px;
  margin-left: 90px;
  /* height: 800px; */
  /* width: 1200px; */
  height: 70%;
  width: 90%;
  min-height: 400px;
  min-width: 600px;
  overflow: scroll;
}

#build-menu {
  position: fixed;
}

#tower-container {
  border: 2px solid black;
  margin: 3px;
  padding: 3px;
  height: 100%;
  width: 75%;
  align-items: stretch;
}

#tower {
  border: 2px solid blue;
  margin: 3px;
  padding: 3px;
  align-items: stretch;
}

.floor-container {
  border: 2px solid red;
  min-height: 100%;
  height: 100%;
  align-items: stretch;
}

.floor {
  border: 2px solid orange;
  min-height: 100%;
  height: 100%;
  align-items: stretch;
}

.shop-container {
  border: 2px solid black;
  background-color: yellow;
  min-height: 100%;
  height: 100%;
  align-items: stretch;

}

.filled-shop {
  border: 2px solid black;
  min-height: 100%;
  height: 100%;
  background-color: blue;
  color: white;
  align-items: stretch;
}

.empty-shop {
  border: 2px solid black;
  min-height: 100%;
  height: 100%;
  background-color: red;
  color: white;
  align-items: stretch;

}

#stats {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
  position: fixed;
}
