body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 'VT323', monospace,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

/* @keyframes spagett {
  0% {opacity: 0}
  100% {opacity: 1}
}

#spagett {
  animation-name: spagett;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
} */

@keyframes housingMovement {
  0% {transform: translate3d(-1vw, 0px, 0px)}
  25% { transform: translate3d(-0.5vw, 0px, 0px) }
  50% {transform: translate3d(0vw, 0px, 0px);}
  75% { transform: translate3d(-0.5vw, 0px, 0px) }
  100% {transform: translate3d(-1vw, 0px, 0px)}
}

.Housing {
  animation-name: housingMovement;
  animation-duration: 5s;
  animation-timing-function: steps(10, end);
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  height: 50px;
}

@keyframes defenseMovement {
  0% {transform: translate3d(-5vw, 0px, 0px)}
  25% { transform: translate3d(0px, 0px, 0px) }
  50% {transform: translate3d(5vw, 0px, 0px);}
  75% { transform: translate3d(0px, 0px, 0px) }
  100% {transform: translate3d(-5vw, 0px, 0px)}
}

.Defense {
  animation-name: defenseMovement;
  animation-duration: 6s;
  animation-timing-function: steps(12, end);
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  height: 50px;
}

@keyframes foodMovement {
  0% {transform: translate3d(100px, 0px, 0px)}
  25% { transform: translate3d(50px, 0px, 0px) }
  50% {transform: translate3d(0px, 0px, 0px);}
  75% { transform: translate3d(50px, 0px, 0px) }
  100% {transform: translate3d(100px, 0px, 0px)}
}

.Food {
  animation-name: foodMovement;
  animation-duration: 6s;
  animation-timing-function: steps(12, end);
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  height: 50px;
}

@keyframes serviceMovement {
  0% {transform: translate3d(70px, 0px, 0px)}
  25% { transform: translate3d(35px, 0px, 0px) }
  50% {transform: translate3d(-0px, 0px, 0px);}
  75% { transform: translate3d(35px, 0px, 0px) }
  100% {transform: translate3d(70px, 0px, 0px)}
}

.Service {
  animation-name: serviceMovement;
  animation-duration: 6s;
  animation-timing-function: steps(12, end);
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
  height: 50px;
}

#home {
  height: 100vh;
  background-color: black;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.home-header {
  font-family: 'VT323', monospace;
  font-size: 10vh;
  color: white;
  position: relative;
  height: 5vh;
  text-decoration: underline;
}

#about {
  height: 100vh;
  overflow: scroll;
  background-color: black;
  text-align: center;
  margin: 0 auto;
  padding: 5vh;
  color: white;
}

.login-form {
  background-color: black;
  background-image: url('https://cdn.cnn.com/cnnnext/dam/assets/160309165344-exoplanets-artwork-tease-super-169.jpg');
  background-size: cover;
}

#login-header {
  font-family: "VT323", monospace;
  font-size: 25vh;
  color: rgb(193, 144, 212);
  font-style: oblique;
  margin: 10vh 10vw;
  position: absolute;
  text-shadow: 5px 5px 5px black
}

.create-form{
  background-image: url('https://cdn.cnn.com/cnnnext/dam/assets/160309165344-exoplanets-artwork-tease-super-169.jpg');
  background-size: cover;
  height: 100%
}

.edit-form{
  background-image: url('https://cdn.cnn.com/cnnnext/dam/assets/160309165344-exoplanets-artwork-tease-super-169.jpg');
  background-size: cover;
  height: 100vh;
}

#nav {
  background-color: white;
}

#game-container{
  display: inline-block;
  padding: 10px;
  margin: 0 auto;
  height: 90vh;
  width: 90%;
  min-height: 400px;
  min-width: 750px;
  overflow: scroll;
  background-color: black;
  background-image: url('https://i.pinimg.com/474x/9d/76/49/9d7649649e8b7abb44d0d1629c2f20bf--pixel-art-videogames.jpg');
  background-position: center;
  background-size: 80vw 80vh;
  background-repeat: no-repeat;
}

#build-menu {
  position: fixed;
  margin: 0 auto;
  width: 20%;
  border: 5px solid white;
  box-shadow: 2px 2px 2px white;
}

#show-info {
  position: fixed;
  border: 5px solid white;
  margin: 0 auto;
  width: 20%;
  background-color: white;
  box-shadow: 2px 2px 2px white;
}

#tower-container {
  margin: 20vh auto 0px auto;
  border: 0.5vh solid grey;
  outline: 0.75vh solid black;
  width: 70%;
}

#tower {
}

.floor-container {
  border: 2px solid black;
  height: 100px;
}

.floor {
  height: 100%;
}

.shop-container {
  background-color: grey;
  height: 100%;
}

@keyframes filledShop {
  0% {opacity: 0}
  100% {opacity: 1}
}

.filled-shop {
  animation-name: filledShop;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  height: 100%;
  background-color: blue;
  color: white;
  overflow: hidden;
}

@keyframes emptyShop {
  0% {opacity: 0}
  100% {opacity: 1}
}

.empty-shop {
  animation-name: emptyShop;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  height: 100%;
  border: 5px solid white;
  background-image: url(https://i.imgur.com/wEaXflm.png);
  background-size: 175px 90px;
  color: white;
  min-width: 100%;
  width: 100%;
  font-family: 'VT323', monospace;
  font-size: 5vh;
  color: red;
  text-shadow: 2px 2px 2px black;
}


#lobby {
  background-image: url('https://i.imgur.com/g1Hyino.png');
  background-size: 25vw 100px;
}

@keyframes constructionFloor {
  0% {opacity: 0}
  100% {opacity: 1}
}

#construction-floor {
  animation-name: constructionFloor;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  border: 5px solid black;
  background-image: url('https://i.imgur.com/lpVyCws.png');
  background-size: 300px 100px;
  font-family: 'VT323', monospace;
  font-size: 5vh;
  color: white;
  text-shadow: 2px 2px 2px black;
}

#stats {
  margin: 0 auto;
  position: fixed;
  background-color: black;
  border: 5px solid white;
  width: 20%;
  overflow: scroll;
  height: 65vh;
}

#space-travel {
  display: inline-block;
  margin-top: 10px;
  background-color: black;
}

#game-panel {
  background-color: black;
  margin: 0 auto;
  width: 75%;
  border: 5px solid white;
}

#leaderboard {
  background-color: black;
}

#users-page {
  height: 100vh;
  background-color: black;
  text-align: center;
  margin: 0 auto;
}

#holder {
  display:block;
  margin: 20px auto 0 auto;
  width:800px;
  height:600px;
}

#not-found {
  height: 100vh;
  background-color: black;
  text-align: center;
  margin: 0 auto;
  background-image: url('https://images.pexels.com/photos/684441/pexels-photo-684441.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
}

#not-found-header {
  margin: 0 auto;
  font-size: 500%;
  color: white;
}

.ui.segment {
  font-family: 'VT323', monospace !important;
}

.ui.medium.header {
  font-family: 'VT323', monospace !important;
  /* font-size: 40px !important; */
}

.ui.button {
  font-family: 'VT323', monospace !important;
  /* font-size: 20px !important; */
}

.ui.inverted.segment>.ui.header {
  font-family: 'VT323', monospace !important;
  /* font-size: 50px !important; */
}
.ui.horizontal.statistics .statistic {
  font-family: 'VT323', monospace !important;
}

.ui.horizontal.statistics .statistic>.value {
  font-family: 'VT323', monospace !important;
}

.ui.horizontal.statistics .statistic>.label {
  font-family: 'VT323', monospace !important;
}

.ui.grid {
  margin: 0px !important;
  height: 100% !important;
}

.ui.grid>.row {
  padding: 0px !important;
  height: 100% !important;
}

.ui.divider:not(.vertical):not(.horizontal) {
  font-family: 'VT323', monospace !important;
}

.ui.form .inverted.segment label {
  font-family: 'VT323', monospace !important;
}

.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input {
  font-family: 'VT323', monospace !important;
}

.ui.message:last-child{
  font-family: 'VT323', monospace !important;
}

.ui.inverted.header {
  font-family: 'VT323', monospace !important;
}

i.inverted.circular.icon {
  /* font-size: 50px !important */
}

.ui.green.inverted.progress .bar {
  /* font-size: 20px !important */
}

.ui.grid>.column.row>[class=*="eight wide"].column,.ui.grid>.row>[class*="eight wide"].column, {
  /* font-size: 30px; */
}

.ui.modal>.icon:first-child+* {
  font-family: 'VT323', monospace !important;
  /* font-size: 60px !important */
}

.ui.text.container {
  font-family: 'VT323', monospace !important;
  /* font-size: 60px !important; */
}

.ui.celled.grid {
  height: 85% !important;
}

.ui[class*="center aligned"].grid {
  height: 90% !important;
}
