body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 'VT323', monospace,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* @keyframes aliens {
  0% {transform: translateX(-100px)}
  100% {transform: translateX(100px)}
}

.aliens {
  animation-name: aliens;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} */

#home {
  height: 100vh;
  background-color: black;
  text-align: center;
  /* font-family: 'VT323', monospace; */
}

.login-form {
  background-color: black;
  background-image: url('https://cdn.cnn.com/cnnnext/dam/assets/160309165344-exoplanets-artwork-tease-super-169.jpg');
  background-size: cover;
}

.create-form{
  background-color: black;
}

#nav {
  background-color: white;
}

#game-container{
  display: inline-block;
  border: 5px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-right: 90px;
  margin-left: 50px;
  /* height: 800px; */
  /* width: 1200px; */
  height: 70vh;
  width: 90%;
  min-height: 400px;
  min-width: 900px;
  overflow: scroll;
  background-color: black;
  background-image: url('https://i.pinimg.com/474x/9d/76/49/9d7649649e8b7abb44d0d1629c2f20bf--pixel-art-videogames.jpg');
  background-position: fixed;
  background-size: 1500px 500px;
  background-repeat: no-repeat;
}

#build-menu {
  position: fixed;
  margin: 0 auto;
  width: 20%;
  border: 5px solid white;
}

#show-info {
  position: fixed;
  border: 5px solid white;
  margin: 0 auto;
  width: 20%;
  background-color: white;
}

#tower-container {
  margin: 275px auto 50px auto;
  /* padding: 3px; */
  width: 70%;
}

#tower {
  /* margin: 3px; */
  /* padding: 3px; */
}

.floor-container {
  border: 5px solid black;
  height: 100px;
}

.floor {
  height: 100%;
}

.shop-container {
  background-color: yellow;
  height: 100%;
}

.filled-shop {
  height: 100%;
  background-color: blue;
  color: white;
}

.empty-shop {
  height: 100%;
  border: 5px solid white;
  background-image: url(https://i.imgur.com/wEaXflm.png);
  background-size: 235px 90px;
  color: white;
  min-width: 100%;
  width: 100%;
}

#lobby {
  background-image: url('https://i.imgur.com/g1Hyino.png');
  background-size: 300px 100px;
}

#construction-floor {
  border: 5px solid black;
  background-image: url('https://i.imgur.com/lpVyCws.png');
  background-size: 300px 100px;
}

#stats {
  margin: 0 auto;
  position: fixed;
  background-color: white;
  border: 5px solid white;
  width: 20%;
}

#space-travel {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  margin-right: 90px;
  margin-left: 50px;
  /* height: 800px; */
  /* width: 1200px; */
  height: 70vh;
  width: 90%;
  min-height: 400px;
  min-width: 900px;
  background-color: black;
}

#game-panel {
  background-color: black;
  margin: 0 auto;
}

.ui.grid {
  margin: 0px !important;
  height: 100% !important;
}

.ui.grid>.row {
  padding: 0px !important;
  height: 100% !important;
}
